header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}


header img{
  justify-content: center;
  height: 50px;
  width: 50px;

}

header img .logo {
  padding-right: 70px ;
}

header p {
  width: 120px;
  font-size: 1.5em;
  font-family: Impact, serif  ;

}

header a {
  color: white;
  text-decoration: none;

}

nav {
  background: linear-gradient(90deg, #333333 0%, #a90033 100%);
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center;
  width: 100%;
  padding: 8px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  font-family: Impact, sans-serif;
}

/* Estilos para los enlaces */
nav a {
  text-decoration: none;
  border: none;
  color: white;
  font-size: 1.2em; /* Un poco más grande para que se parezca más a la imagen */
  padding: 10px 15px; /* Aumenta el padding para que los botones sean más anchos */
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 4px; /* Un ligero borde redondeado */
}
