.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.cartas {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nombre {
  font-size: 1.6em;

}

.precio {
  font-size: 1.5em;
  color: #ffffff;

}
