h1 {
  display: flex;
  margin-top: 2em;
}

h2 {
  display: flex;
}

.productes {
  display: flex;
  height: 200px;
  padding: 15px;
  width: 50em;
  background-color: #333333;
}

.productes img {
  height: 200px;

}

.titulo {
  font-size: 1.5em;
  color: #ffffff;

}
.texto {
  float: left;
  color: #ffffff;
  margin-top: 0px;
}

.subtotal {
  display: flex;
  justify-content: space-between
}

.final {
  margin-bottom: 5em;
}

.continuar-pedido {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 15px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  text-align: center;
  z-index: 1000;
}

.btn-continuar {
  background: linear-gradient(90deg, #333333 0%, #a90033 100%);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
  max-width: 400px;
  transition: background-color 0.3s;
}

.btn-continuar:hover {
  background-color: #267349;
}
