<app-capcelera/>
<h1> La meva Cistella </h1>
<h2> Articles: </h2>
@if (llistaCarritoCaixes.length > 0){
  <table>
    @for (item of llistaCarritoCaixes; track item.id) {
      <tr>
        <div class="productes">
              <img [src]="item.imagen">
              <div class="producto">
                <p class="titulo">{{item.nombre}}</p>
                <p class="texto">{{item.descripcio}}</p> <br>
                <p class="texto">{{item.preu}} {{item.texquant}} {{item.quantitat}}</p>
                <button (click)="sumar(item.id)">+</button>
                <button (click)="restar(item.id)">-</button>
              </div>
        </div>
      </tr>
    }
    @for (item of llistaCarritoCartes; track item.id) {
      <tr>
        <div class="productes">
          <img [src]="item.imagen">
          <div class="producto">
            <p class="titulo">{{item.nombre}}</p>
            <p class="texto">{{item.preu}} {{item.texquant}} {{item.quantitat}}</p>
          </div>
        </div>
      </tr>
    }
  </table>
}

<div class="continuar-pedido">
  <button class="btn-continuar">CONTINUAR COMANDA</button>
  <span class="totalPrecio"> Total Precio: {{""}} </span>
</div>

