h1 {
  display: flex;
  margin-top: 2em;
}

h2 {
  display: flex;
}

.productes {
  padding-left: 10em;
  display: flex;
  width: 30em;
  margin-top: 2em;
}

.productes img {
  height: 30em;
}

.producto {
  background-color: black;
  padding-left: 20px;
  padding-right: 3em;
}

.titulo {
  font-size: 2em;
  color: #ffffff;

}
.texto {
  float: left;
  color: #ffffff;
  margin-top: 0px;
  font-size: 1em;
}

.precio {
  font-size: 2em;
  color: gray;
  margin-top: 0px;
}

