h1 {
  display: flex;
  margin-top: 2em;
}

h2 {
  display: flex;
}

.productes {
  padding-left: 10em;
  display: flex;
  width: 30em;
  margin-top: 2em;
}

.productes img {
  height: 25em;
}

.producto {
  background-color:  rgb(33 37 41) ;
  padding-left: 20px;
  padding-right: 3em;
}

.titulo {
  font-size: 2em;
  color: #ffffff;

}
.texto {
  float: left;
  color: #ffffff;
  margin-top: 0px;
  font-size: 1em;
}

.precio {
  font-size: 2em;
  color: white;
  margin-top: 0px;
}

p {
  font-family: Impact, sans-serif;
}
